<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>重設密碼</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body style="background-size: 100%;">

	<ul class="nav navbar-nav ml-auto">
		<nav class="navbar navbar-expand-sm bg-light navbar-light">
			<div class="fr-ec-navigation-header_column fr-ec-navigation-header_column--nav">
				<a class="fr-ec-button-reset fr-ec-link-primary-nav uq-ec-link-primary-nav__uq-label" href="index.html">
					<span
						class="fr-ec-label fr-ec-label--color-primary-dark fr-ec-label--standard fr-ec-text-align-left fr-ec-text-transform-normal fr-ec-link-primary-nav__text-wrapper fr-ec-gender--standard">首頁</span>
				</a>
			</div>

			<div class="ml-auto"></div><!-- 使用 ml-auto 向右對齊 -->
			<div class="menu-space"></div><!-- 添加間距 -->
			<div class="fr-ec-navigation-header_column fr-ec-navigation-header_column--nav">
				<a class="fr-ec-button-reset fr-ec-link-primary-nav uq-ec-link-primary-nav__uq-label"
					href="UserLogin.html">
					<span
						class="fr-ec-label fr-ec-label--color-primary-dark fr-ec-label--standard fr-ec-text-align-left fr-ec-text-transform-normal fr-ec-link-primary-nav__text-wrapper fr-ec-gender--standard">會員登入</span>
				</a>
			</div>
		</nav>
	</ul>

	<div class="h-panel panel-center">
		<form id="rpassword" method="post" class="h-form label-top" align=center>
			<h3><span class="fr-form-label" style="color:rgb(156,146, 88)">設定新密碼</h3>
			<p><span class="fr-form-label" style="color:rgb(156,146, 88)">請輸入包含六個英文數字的新密碼</p>
			<div class="h-text-box default icon-left">
				<input class="" type="text" maxlength="6" name="password" id="password" placeholder="會員密碼"
					autocomplete="off" value="">
				<input Type="submit" value="確定">
		</form>

		<script>
			function result(data, status) {
				alert("修改成功，請重新登入");
				location.href = "UserLogin.html";
			}
			function updatepassword(evt) {
				evt.preventDefault();
				obj = {};
				obj.password = $('#password').val();
				//var password=$("#password").val();
				//alert(JSON.stringify(obj));
				$.ajax({
					url: "/updatePassword",
					type: "post",
					dataType: "html",
					//contentType:"application/json",
					contentType: "application/x-www-form-urlencoded",
					//data:JSON.stringify(obj),
					data: {
						"password": obj.password
					},
					//data:{"password":password},
					success: result,
					error: function (myerror) {
						console.log(myerror);
					}

				});
				return false;
			}
			$("#rpassword").submit(updatepassword);
		</script>
	</div>
	</div>
	</div>

</body>

</html>